[submodule "DockPanelSuite"]
	path = DockPanelSuite
	url = https://github.com/RadarNyan/dockpanelsuite.git
	branch = 74eo-rn
[submodule "SwfExtractor"]
	path = SwfExtractor
	url = https://github.com/andanteyk/SwfExtractor.git
[submodule "CefEOBrowser"]
	path = CefEOBrowser
	url = https://github.com/RadarNyan/CefEOBrowser
